[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sphinx-autobuild = "*"
sphinx-rtd-theme = "*"
Sphinx = "*"
doc8 = "*"

[requires]
python_version = "3.6"
