[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
Sphinx = "*"
sphinx-autobuild = "*"
sphinx-multitoc-numbering = "*"
myst-parser = "*"

[requires]
python_version = "3.9"