.inline-chart {
    width: 49%;
    display: inline-block;
}

rect {
  fill: #86C7DF;
}

.y .domain {
  display: none;
}

.x .domain {
  display: none;
}

.x .tick line {
  display: none;
}

// The rest of your styles are up here
.y .tick:not(:first-of-type) line {
  stroke: #e7e7e7;
}
