// Normalize Styles
@import 'node_modules/normalize.css/normalize';

// Import Modules
@import '../_modules/link/link';
@import 'node_modules/leaflet/dist/leaflet';
@import 'node_modules/leaflet-minimap/src/Control.MiniMap';
@import '_charts.scss';

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.yeogurt-info {
  text-align: center;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.version {
  font-size: 14px;
  font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.logo {
  margin-top: 15px;
}

// Styling on warning for users on IE7 or below
.browsehappy {
  text-align: center;
  margin: 0;
  background: #fff8e2;
  color: #000;
  padding: 0.5em 0;
}

/* table */
table.table {
  width: 100%;
  margin-bottom: 0.5em;
  font-size: 1em;
  border-collapse: collapse;
  border-spacing: 0;
}
table.table tr {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-align: left;
  color: #333;
}
table.table thead {
  border-bottom: 3px solid #fff;
  color: #fff !important;
  background-color: #0185d3;
}
table.table tr {
  border-bottom: 1px solid #ddd;
  color: #222;
}
table.table tr.highlight {
  background-color: #dcf1f0 !important;
}
table.table.zebra tr:nth-child(even) {
  background-color: #ddd;
}
table.table th {
  font-weight: bold;
  padding: 0.35em;
  font-family: "Gotham A", "Gotham B", Arial, sans-serif !important;
  font-size: 0.9em;
  color: #fff !important;
  border-right: 1px solid #fff;
}
table.table td {
  padding: 0.35em;
  font-size: 0.9em;
}
table.table .highlight td {
  font-weight: bold;
}
table.table th {
  text-align: left;
}
td {
  text-align: left;
}
@media screen and (max-width: 420px) {
  .wrapper {
    max-width: 420px;
    margin: 0 auto;
  }
  table.table {
    width: 100%;
  }
  table.table tr.hide-mobile, table.table th.hide-mobile, table.table td.hide-mobile, table.table thead {
    display: none;
  }
  table.table tbody {
    width: 100%;
  }
  table.table tr, table.table th, table.table td {
    display: block;
    padding: 0;
  }
  table.table tr {
    border-bottom: none;
    margin: 0 0 1em 0;
    padding: 0.5em;
  }
  table.table tr.highlight {
    background-color: inherit !important;
  }
  table.table.zebra tr:nth-child(even) {
    background-color: #fff !important;
  }
  table.table.zebra td:nth-child(even) {
    background-color: #fff !important;
  }
  table.table tr:nth-child(even) {
    background-color: none;
  }
  table.table td {
    padding: 0.5em 0 0.25em 0;
    border-bottom: 1px dotted #ccc;
    text-align: right;
  }
  table.table td[data-title]:before {
    content: attr(data-title);
    font-weight: bold;
    display: inline-block;
    content: attr(data-title);
    float: left;
    margin-right: 0.5em;
    font-size: 0.95em;
  }
  table.table td:last-child {
    padding-right: 0;
    border-bottom: 2px solid #ccc;
  }
  table.table td:empty {
    display: none;
  }
  table.table .highlight td {
    background-color: inherit;
    font-weight: normal;
  }
}
.active-header {
  background-color: #6dccf2;
  color: #fff;
}
.filter-arrow {
  text-align: right !important;
  font-size: 1.5rem;
  display: inline;
  float: right;
  padding-right: 10px;
}
.filter-arrow:hover {
  cursor: pointer;
}
.filter-arrow:before {
  content: '\f07d';
  font-family: 'fontawesome';
  color: #fff;
}
.filter-arrow-up {
  content: '\f176';
  font-family: 'fontawesome';
  color: #fff;
}
.filter-arrow-down {
  content: '\f175';
  font-family: 'fontawesome';
  color: #fff;
}
form {
  margin-bottom: 35px;
}
.input {
  width: 100%;
  height: 30px;
  line-height: 1.5;
  margin-bottom: 35px;
  color: #333;
  font-size: 1.6rem;
  border: 1px solid #d6d6d6;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: 0;
  margin-left: 5px;
}
.search-btn {
  background-color: #333;
  color: #fff;
  line-height: 1.5;
  font-size: 1.3rem;
  display: inline-block;
  margin-bottom: 35px;
  font-weight: 500;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  letter-spacing: 0.075em;
  height: 30px;
  cursor: pointer;
}
.search-btn:hover {
  background: #ccc;
}
.form-input, .form-button {
  display: inline-block;
  float: left;
}
.form-input {
  width: 70%;
}
.form-button {
  width: 15%;
}
.pagination {
  margin-top: 1.5rem;
  color: #fff !important;
  text-align: center;
  font-weight: bold;
  text-decoration: none !important;
}
.pagination:hover {
  cursor: pointer;
  color: #fff !important;
}
.pagination .page-numbers li {
  display: inline-block;
  width: 28px;
  height: 28px;
}
.pagination .page-numbers li div, .pagination .page-numbers li span {
  color: #0185d3;
  border: 1px solid #0185d3;
  padding: 5px;
  width: 28px;
  height: 28px;
  display: block;
  text-align: center;
}
.pagination .page-numbers li a.current, .pagination .page-numbers li span.current, .pagination .page-numbers li a:hover {
  background: #0185d3;
  color: #fff;
  text-decoration: none !important;
}
.pagination .page-numbers li .disabled-page {
  opacity: 0.3;
}
