<section>
    <h2>A South L.A. neighborhood stands apart</h2>
    <p>Harvard Park's 2016 homicide total was its highest in at least 15 years despite a downward trend in killings across L.A. County.</p>
    <div class="graphics-container">
        <div class="graphic">
            <iframe title="County homicides, 2000-2017" aria-label="Column Chart" id="datawrapper-chart-XSj9X" src="https://datawrapper.dwcdn.net/XSj9X/5/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="350"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();
            </script>
        </div>
        <div class="graphic">
            <iframe title="Harvard Park homicides, 2000-2017" aria-label="Column Chart" id="datawrapper-chart-qvF1G" src="https://datawrapper.dwcdn.net/qvF1G/4/" scrolling="no" frameborder="0" style="width: 0; min-width: 100% !important; border: none;" height="350"></iframe><script type="text/javascript">!function(){"use strict";window.addEventListener("message",(function(e){if(void 0!==e.data["datawrapper-height"]){var t=document.querySelectorAll("iframe");for(var a in e.data["datawrapper-height"])for(var r=0;r<t.length;r++){if(t[r].contentWindow===e.source)t[r].style.height=e.data["datawrapper-height"][a]+"px"}}}))}();
            </script>
        </div>
    </div>
</section>